.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.hide {
    display: none;
    

}
#timeEl {
    
}

#questions{
    background-color: purple;
    cursor: pointer;
    border-radius: 50px;
    width: 1000px;
    margin-left: 400px;
    top: 400px;
    color: white;

}




 